.expenseDetails{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.expenseList{
    display: flex;
    height: 60px;
    width: 700px;
    color: whitesmoke;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
    justify-content: space-between;
    background: rgb(60, 59, 59);
}